.column__50 {
    width: 49%;
}

.column__33 {
    width: 32%;
}

.column__25 {
    width: 23%;
}

.columna__title {
    width: 100%;
    font-size: 26px;
    /* text-align: center; */
    margin-bottom: 20px;
    /*     color: $color-secundario; */
}

@media screen and (max-width: 1000px) {
    .column__33 {
        width: 49%;
    }
}

@media screen and (max-width: 760px) {
    .column__50 {
        width: 100%;
    }
    .column__33 {
        width: 100%;
    }
    .column__25 {
        width: 48%;
    }
}