@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: $fuente-nunito;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
}

.container__flex {
    display: flex;
}

section {
    .container {
        margin: auto;
        flex-direction: column;
        .section__title {
            width: 100%;
            font-size: 40px;
            text-align: center;
            color: $color-secundario;
            font-weight: $densidad-bolder;
            /* margin-bottom: 20px; */
        }
        .section__title::after {
            content: "";
            display: block;
            width: 200px;
            height: 5px;
            background: $color-primario;
            margin: 0 auto 40px;
        }
        .section__title-black::after {
            content: "";
            display: block;
            width: 200px;
            height: 5px;
            background: $color-white;
            margin: 0 auto 40px;
        }
        .section__texto {
            width: 100%;
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: $densidad-bolder;
            text-align: center;
            color: $color-black;
        }
    }
}

.about,
.skills,
.services,
.portfolio,
.contact,
.social {
    padding: 40px 0;
}

.btn__link {
    display: block;
    background-color: $color-primario;
    color: $color-white;
    font-size: 20px;
    font-weight: $densidad-500;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    i {
        margin-right: 5px;
    }
    transition: all .5s;
}

.btn__link:hover {
    background-color: $color-secundario;
}


/* .main {
    overflow: hidden;
} */