@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: $fuente-nunito;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
}

.container__flex {
    display: flex;
}

section {
    .container {
        margin: auto;
        flex-direction: column;
        .section__title {
            width: 100%;
            font-size: 40px;
            text-align: center;
            color: $color-secundario;
            font-weight: $densidad-bolder;
            /* margin-bottom: 20px; */
        }
        .section__title::after {
            content: "";
            display: block;
            width: 150px;
            height: 5px;
            background: $color-primario;
            margin: 0 auto 40px;
        }
        .section__texto {
            width: 100%;
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: $densidad-bolder;
            text-align: center;
            color: $color-black;
        }
    }
}

.about,
.skills,
.services,
.contact {
    padding: 40px 0;
}

.column__50 {
    width: 49%;
}

.column__33 {
    width: 32%;
}

.column__25 {
    width: 23%;
}

.columna__title {
    width: 100%;
    font-size: 26px;
    /* text-align: center; */
    margin-bottom: 20px;
    /*     color: $color-secundario; */
}


/* .main {
    overflow: hidden;
} */