.about {
    .about__content {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
        .about__description {
            .columna__texto {
                font-size: 18px;
                margin-bottom: 20px;
                body.body__dark & {
                    color: $color-white;
                }
            }
        }
        .about__image {
            height: 280px;
            .about__image-img {
                display: flex;
                /* object-fit: cover;
                object-position: top; */
                margin: auto;
                width: 300px;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .about {
        .about__content {
            .about__image {
                height: 300px;
                .about__image-img {
                    width: 320px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .about {
        .about__content {
            .about__description {
                .columna__texto {
                    font-size: 16px;
                }
            }
            .about__image {
                height: 350px;
                .about__image-img {
                    width: 340px;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .about {
        .about__content {
            .about__description {
                margin-bottom: 20px;
                .btn__link {
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .about {
        .about__content {
            .about__image {
                height: 270px;
                .about__image-img {
                    width: 250px;
                }
            }
        }
    }
}