.footer {
    background-color: $color-black;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    color: $color-white;
    .footer__link {
        color: $color-white;
        opacity: 0.8;
    }
}