@import "../mixin";
.home__background {
    position: relative;
    background-image: url("../images/slider-2.jpg");
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    height: 100vh;
}

.home__background::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 51, 51, 0.75);
}

.home {
    position: relative;
    .home__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        .home__image {
            height: 270px;
            width: 270px;
            border-radius: 50%;
            .home__image-img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .home__description {
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .texto__1,
            .texto__3 {
                font-size: 40px;
                color: $color-white;
                text-align: center;
            }
            .texto__2 {
                font-size: 60px;
                color: $color-secundario;
                font-weight: $densidad-bolder;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .home {
        .home__content {
            .home__image {
                height: 250px;
                width: 250px;
            }
            .home__description {
                .texto__1,
                .texto__3 {
                    font-size: 36px;
                    color: $color-white;
                }
                .texto__2 {
                    font-size: 52px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .home {
        .home__content {
            .home__image {
                height: 220px;
                width: 220px;
            }
            .home__description {
                .texto__1,
                .texto__3 {
                    font-size: 32px;
                    color: $color-white;
                }
                .texto__2 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .home {
        .home__content {
            flex-direction: column;
            .home__image {
                height: 220px;
                width: 220px;
                margin-bottom: 20px;
            }
            .home__description {
                .texto__1,
                .texto__3 {
                    font-size: 24px;
                }
                .texto__2 {
                    font-size: 36px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .home {
        .home__content {
            .home__image {
                height: 150px;
                width: 150px;
            }
            .home__description {
                .texto__1,
                .texto__3 {
                    font-size: 16px;
                }
                .texto__2 {
                    font-size: 24px;
                }
            }
        }
    }
}