@import "../mixin";
.services__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .service__item {
        background-color: $color-primario;
        text-align: center;
        padding: 40px 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
        transition: all .5s;
        i {
            font-size: 40px;
            color: $color-black;
            @include text-shadow-3D;
            font-weight: $densidad-bold;
            margin-bottom: 20px;
            transition: all .5s;
        }
        .service__item-titulo {
            font-size: 24px;
            margin-bottom: 20px;
            color: $color-black;
        }
        .service__item-text {
            font-size: 16px;
        }
    }
    .service__item:hover>i {
        color: $color-white;
    }
    /*  .service__item:hover {
        @include box-shadow;
    } */
    /* .service__item:hover::after {
        
        border-bottom: 5px solid $color-secundario;
    } */
}