@import "../mixin";
.skills__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .skill__item {
        background-color: $color-primario;
        color: $color-black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        box-sizing: border-box;
        margin-bottom: 20px;
        img {
            height: 126px;
            width: 126px;
            @include box-shadow-3D;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 10px;
            transition: all 0.3s;
        }
        img:hover {
            background-color: $color-white;
        }
        .skill__item-desc {
            font-size: 20px;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .skills__content {
        .skill__item {
            img {
                height: 100px;
                width: 100px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .skills__content {
        .skill__item {
            img {
                height: 80px;
                width: 80px;
            }
            .skill__item-desc {
                font-size: 16px;
            }
        }
    }
}