@charset "UTF-8";
/* colors */
/* color principales */
/*color de bordes*/
/* fuente tipo de letra*/
/* fuente tamaño de letras */
/*Fuente-icons*/
/*Densiddad de las fuentes*/
/*Tamaño header*/
/*Tamaño footer*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  scroll-margin-top: 60px;
  transition: 0.5s background-color ease;
}
*.body__dark,
body.body__dark {
  background-color: #323333;
}

/* .body__dark {
    background-color: $color-black;   
} */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
}

.container__flex {
  display: flex;
}

section .container {
  margin: auto;
  flex-direction: column;
}
section .container .section__title {
  width: 100%;
  font-size: 36px;
  text-align: center;
  color: #f39422;
  font-weight: bolder;
  /* margin-bottom: 20px; */
}
section .container .section__title::after {
  content: "";
  display: block;
  width: 200px;
  height: 5px;
  background: #36bed9;
  margin: 0 auto 40px;
}
section .container .section__title-black::after {
  content: "";
  display: block;
  width: 200px;
  height: 5px;
  background: #f5f9fa;
  margin: 0 auto 40px;
}
section .container .section__texto {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
  color: #323333;
}
body.body__dark section .container .section__texto {
  color: #f5f9fa;
}

.about,
.skills,
.services,
.portfolio,
.contact,
.social {
  padding: 40px 0;
}

.btn__link {
  display: block;
  background-color: #36bed9;
  color: #f5f9fa;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
}
.btn__link i {
  margin-right: 5px;
}

.btn__link:hover {
  background-color: #f39422;
}

/*swtich*/
.switch {
  background-color: #323333;
  color: #f5f9fa;
  outline: none;
  border: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.switch__dark {
  background-color: #f5f9fa;
  color: #323333;
}

/* .main {
    overflow: hidden;
} */
@media screen and (max-width: 760px) {
  .btn__link {
    font-size: 18px;
    transition: all 0.5s;
  }
  .btn__link i {
    margin-right: 5px;
  }
}
@media screen and (max-width: 500px) {
  section .container .section__title {
    font-size: 30px;
  }
  section .container .section__texto {
    font-size: 20px;
  }

  .switch {
    height: 40px;
    width: 40px;
    font-size: 16px;
  }
}
.column__50 {
  width: 49%;
}

.column__33 {
  width: 32%;
}

.column__25 {
  width: 23%;
}

.columna__title {
  width: 100%;
  font-size: 24px;
  /* text-align: center; */
  margin-bottom: 20px;
  /*     color: $color-secundario; */
}
body.body__dark .columna__title {
  color: #f5f9fa;
}

@media screen and (max-width: 1000px) {
  .column__33 {
    width: 49%;
  }
}
@media screen and (max-width: 760px) {
  .column__50 {
    width: 100%;
  }

  .column__33 {
    width: 100%;
  }

  .column__25 {
    width: 48%;
  }

  .columna__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .column__25 {
    width: 100%;
  }
}
/*Estilos del menu y navegador*/
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0;
  z-index: 20000;
  background: #36bed9;
  -webkit-box-shadow: 0 0 10px 1px #4b4c4d;
  box-shadow: 0 0 10px 1px #4b4c4d;
}
.main-header .container {
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.main-header .container .logo {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 5px;
  box-sizing: border-box;
}
.main-header .container .logo .logo__img {
  height: 100%;
  width: auto;
}
.main-header .container .logo .logo__texto {
  margin-left: 5px;
  color: #36bed9;
  font-size: 26px;
}

.icon-menu {
  display: none;
  color: #f5f9fa;
  cursor: pointer;
  font-size: 28px;
  margin-right: 10px;
}

.menu {
  position: relative;
  display: flex;
  transition: all 0.5s;
}
.menu .menu__content {
  display: flex;
}
.menu .menu__content .menu__item {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu .menu__content .menu__link {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #f5f9fa;
  transition: all 0.1s;
}
.menu .menu__content .menu__link:hover,
.menu .menu__content .select {
  background-color: #f5f9fa;
  color: #323333;
}

@media screen and (max-width: 1000px) {
  .icon-menu {
    display: block;
  }

  .menu {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
  }
  .menu .menu__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 5px 0;
    box-sizing: border-box;
    background: #36bed9;
    border-top: 1px solid rgba(245, 249, 250, 0.5);
    /* @include box-shadow; */
  }
  .menu .menu__content .menu__item {
    width: 100%;
  }
  .menu .menu__content .menu__link {
    width: 100%;
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f5f9fa;
    background-color: #36bed9;
    /*  font-weight: $densidad-normal; */
    /* border-bottom: 1px solid $border-color-opacity; */
  }

  .mostrar {
    left: 0;
  }
}
/* main */
.main {
  width: 100vw;
  width: 100%;
  top: 60px;
}

.home__background {
  position: relative;
  background-image: url("../images/slider-2.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100vh;
}

.home__background::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 51, 51, 0.75);
}

.home {
  position: relative;
}
.home .home__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.home .home__content .home__image {
  height: 270px;
  width: 270px;
  border-radius: 50%;
}
.home .home__content .home__image .home__image-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.home .home__content .home__description {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .home__content .home__description .texto__1,
.home .home__content .home__description .texto__3 {
  font-size: 40px;
  color: #f5f9fa;
  text-align: center;
}
.home .home__content .home__description .texto__2 {
  font-size: 60px;
  color: #f39422;
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .home .home__content .home__image {
    height: 250px;
    width: 250px;
  }
  .home .home__content .home__description .texto__1,
.home .home__content .home__description .texto__3 {
    font-size: 36px;
    color: #f5f9fa;
  }
  .home .home__content .home__description .texto__2 {
    font-size: 52px;
  }
}
@media screen and (max-width: 1000px) {
  .home .home__content .home__image {
    height: 220px;
    width: 220px;
  }
  .home .home__content .home__description .texto__1,
.home .home__content .home__description .texto__3 {
    font-size: 32px;
    color: #f5f9fa;
  }
  .home .home__content .home__description .texto__2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 760px) {
  .home .home__content {
    flex-direction: column;
  }
  .home .home__content .home__image {
    height: 220px;
    width: 220px;
    margin-bottom: 20px;
  }
  .home .home__content .home__description .texto__1,
.home .home__content .home__description .texto__3 {
    font-size: 24px;
  }
  .home .home__content .home__description .texto__2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 500px) {
  .home .home__content .home__image {
    height: 150px;
    width: 150px;
  }
  .home .home__content .home__description .texto__1,
.home .home__content .home__description .texto__3 {
    font-size: 16px;
  }
  .home .home__content .home__description .texto__2 {
    font-size: 24px;
  }
}
.about .about__content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}
.about .about__content .about__description .columna__texto {
  font-size: 18px;
  margin-bottom: 20px;
}
body.body__dark .about .about__content .about__description .columna__texto {
  color: #f5f9fa;
}
.about .about__content .about__image {
  height: 280px;
}
.about .about__content .about__image .about__image-img {
  display: flex;
  /* object-fit: cover;
  object-position: top; */
  margin: auto;
  width: 300px;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .about .about__content .about__image {
    height: 300px;
  }
  .about .about__content .about__image .about__image-img {
    width: 320px;
  }
}
@media screen and (max-width: 1000px) {
  .about .about__content .about__description .columna__texto {
    font-size: 16px;
  }
  .about .about__content .about__image {
    height: 350px;
  }
  .about .about__content .about__image .about__image-img {
    width: 340px;
  }
}
@media screen and (max-width: 760px) {
  .about .about__content .about__description {
    margin-bottom: 20px;
  }
  .about .about__content .about__description .btn__link {
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  .about .about__content .about__image {
    height: 270px;
  }
  .about .about__content .about__image .about__image-img {
    width: 250px;
  }
}
.skills__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills__content .skill__item {
  background-color: #36bed9;
  color: #323333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.skills__content .skill__item img {
  height: 126px;
  width: 126px;
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.3s;
}
.skills__content .skill__item img:hover {
  background-color: #f5f9fa;
}
.skills__content .skill__item .skill__item-desc {
  font-size: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .skills__content .skill__item img {
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .skills__content .skill__item img {
    height: 80px;
    width: 80px;
  }
  .skills__content .skill__item .skill__item-desc {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .skills__content .skill__item img {
    height: 100px;
    width: 100px;
  }
  .skills__content .skill__item .skill__item-desc {
    font-size: 20px;
  }
}
.services__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*  .service__item:hover {
      @include box-shadow;
  } */
  /* .service__item:hover::after {

      border-bottom: 5px solid $color-secundario;
  } */
}
.services__content .service__item {
  background-color: #36bed9;
  text-align: center;
  padding: 40px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.services__content .service__item i {
  font-size: 40px;
  color: #323333;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(50, 0, 50, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.services__content .service__item .service__item-titulo {
  font-size: 24px;
  margin-bottom: 20px;
  color: #323333;
}
.services__content .service__item .service__item-text {
  font-size: 16px;
}
.services__content .service__item:hover > i {
  color: #f5f9fa;
}

.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio__content .portfolio__item {
  position: relative;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.portfolio__content .portfolio__item .portfolio__image {
  width: 100%;
  height: 100%;
}
.portfolio__content .portfolio__item .portfolio__image .portfolio__image-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.portfolio__content .portfolio__item .portfolio__description {
  position: absolute;
  /* border-radius: 20px; */
  width: 100%;
  height: 100%;
  top: 100%;
  /*   background-color: rgba(54, 190, 217, 0.75); */
  padding: 40px 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s;
}
.portfolio__content .portfolio__item .portfolio__description .portfolio__description-titulo {
  font-size: 28px;
  margin-bottom: 20px;
  color: #f39422;
  font-weight: bold;
}
.portfolio__content .portfolio__item .portfolio__description .portfolio__description-text {
  margin-bottom: 20px;
  text-align: center;
  color: #f5f9fa;
}
.portfolio__content .portfolio__item .portfolio__description .portfolio__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.portfolio__content .portfolio__item .portfolio__description .portfolio__link .portfolio__link-btn {
  display: block;
  background-color: #36bed9;
  color: #f5f9fa;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 10px 1px #4b4c4d;
  box-shadow: 0 0 10px 1px #4b4c4d;
}
.portfolio__content .portfolio__item .portfolio__description .portfolio__link .portfolio__link-btn i {
  margin-right: 5px;
}
.portfolio__content .portfolio__item .portfolio__description .portfolio__link .portfolio__link-btn:hover {
  background-color: rgba(54, 190, 217, 0.1);
  color: #323333;
}
.portfolio__content .portfolio__item:hover > .portfolio__description {
  top: 0;
}
.portfolio__content .portfolio__item:hover::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 190, 217, 0.75);
}

.portfolio .btn__link {
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .portfolio__content .portfolio__item .portfolio__description .portfolio__link .portfolio__link-btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .portfolio__content .portfolio__item {
    height: 350px;
  }
  .portfolio__content .portfolio__item .portfolio__description .portfolio__description-titulo {
    font-size: 32px;
  }
  .portfolio__content .portfolio__item .portfolio__description .portfolio__description-text {
    font-size: 16px;
  }
  .portfolio__content .portfolio__item .portfolio__description .portfolio__link {
    justify-content: space-around;
  }
  .portfolio__content .portfolio__item .portfolio__description .portfolio__link .portfolio__link-btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .portfolio__content .portfolio__item {
    height: 300px;
  }
  .portfolio__content .portfolio__item .portfolio__description .portfolio__description-titulo {
    font-size: 24px;
    text-align: center;
  }
  .portfolio__content .portfolio__item .portfolio__description .portfolio__description-text {
    font-size: 16px;
  }
  .portfolio__content .portfolio__item .portfolio__description .portfolio__link {
    justify-content: space-around;
  }
  .portfolio__content .portfolio__item .portfolio__description .portfolio__link .portfolio__link-btn {
    font-size: 10px;
  }
}
.form {
  display: flex;
  flex-direction: column;
}
.form .form__label {
  font-size: 16px;
  color: #f5f9fa;
  padding-top: 20px;
  display: block;
  cursor: pointer;
}
.form .form__group {
  position: relative;
}
.form .form__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(245, 249, 250, 0.5);
  background-color: #36bed9;
  outline: none;
  border-radius: 5px;
  transition: 0.3 ease all;
}
.form .form__input:focus {
  background-color: #f5f9fa;
  box-shadow: 3px 0px 30px rga(163, 163, 163, 0.4);
}
.form .form__textarea {
  width: 100%;
  height: 100px;
  max-width: 100%;
  min-width: 100%;
  max-height: 100px;
  min-height: 100px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(245, 249, 250, 0.5);
  background-color: #36bed9;
  outline: none;
  transition: 0.3 ease all;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
.form .form__textarea:focus {
  background-color: #f5f9fa;
  box-shadow: 3px 0px 30px rga(163, 163, 163, 0.4);
}
.form .form__input-error {
  font-size: 16px;
  font-weight: 600;
  display: none;
}
.form .form__input-error-activo {
  display: block;
}
.form .form__input-estado {
  position: absolute;
  right: 10px;
  top: 55px;
  z-index: 100;
  font-size: 16px;
  color: #ff4444;
  opacity: 0;
}
.form .form__group-termino {
  margin-bottom: 20px;
}
.form .form__group-termino .form__label {
  display: flex;
  align-items: center;
}
.form .form__group-termino .form__label .form__checkbox {
  margin-right: 10px;
}
.form .form__group-termino .form__label .termino__texto {
  font-size: 16px;
}
.form .form__message-error {
  background-color: #ff4444;
  padding: 10px;
  border-radius: 5px;
  color: #f5f9fa;
  margin-bottom: 20px;
  display: none;
  text-align: center;
}
.form .form__message-error i {
  margin-right: 5px;
}
.form .form__message-error-activo {
  display: block;
}
.form .form__group-btn {
  display: flex;
  flex-direction: column;
}
.form .form__submit {
  margin: auto;
  width: 150px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #f39422;
  border: none;
  color: #f5f9fa;
  transition: all 0.5s;
  margin-bottom: 20px;
  outline: none;
}
.form .form__submit i {
  margin-right: 5px;
  font-size: 16px;
}
.form .form__submit:hover {
  background-color: #f5f9fa;
  color: #323333;
}
.form .form__message-exito {
  background-color: #00c851;
  display: none;
  padding: 10px;
  border-radius: 5px;
  color: #f5f9fa;
  margin-bottom: 20px;
  text-align: center;
}
.form .form__message-exito i {
  margin-right: 5px;
}
.form .form__message-exito-activo {
  display: block;
}

/*Estilos para validación*/
.form__group-correcto .form__group-input .form__input {
  background: #f5f9fa;
  color: #00c851;
}
.form__group-correcto .form__group-input .form__input-estado {
  color: #00c851;
  opacity: 1;
}
.form__group-correcto .form__group-input .form__textarea {
  background: #f5f9fa;
  color: #00c851;
}

.form__group-incorrecto .form__group-input .form__input {
  color: #ff4444;
}
.form__group-incorrecto .form__group-input .form__input-estado {
  color: #ff4444;
  opacity: 1;
}
.form__group-incorrecto .form__group-input .form__textarea {
  color: #ff4444;
}

@media screen and (max-width: 1200px) {
  .form .form__label,
.form .form__input,
.form .form__textarea {
    font-size: 20px;
  }
  .form .form__submit {
    font-size: 18px;
  }
}
@media screen and (max-width: 760px) {
  .form .form__label,
.form .form__input,
.form .form__textarea {
    font-size: 16px;
  }
  .form .form__submit {
    font-size: 18px;
  }
}
.contact {
  background-color: #36bed9;
}

.social {
  background-color: #36bed9;
}

.social__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social__content .social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  transition: all 0.5s;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
}
.social__content .social__item i {
  font-size: 60px;
  color: #f5f9fa;
  margin-bottom: 20px;
  transition: all 0.5s;
  /*  @include text-shadow-3D; */
}
.social__content .social__item .social__item-desc {
  font-size: 20px;
  color: #f5f9fa;
  transition: all 0.5s;
}
.social__content .social__item:hover {
  background-color: #f5f9fa;
}
.social__content .social__item:hover > i {
  color: #323333;
  /* filter: drop-shadow(-2px -2px 2px rgba(255, 255, 255, 0.3)), drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)), drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2)); */
}
.social__content .social__item:hover > .social__item-desc {
  color: #323333;
}

@media screen and (max-width: 400px) {
  .social__content .social__item .social__item-desc {
    font-size: 16px;
    color: #f5f9fa;
    transition: all 0.5s;
  }
}
.footer {
  background-color: #323333;
  padding: 20px 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #f5f9fa;
}
.footer .footer__link {
  color: #f5f9fa;
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .footer {
    font-size: 16px;
  }
}
@media screen and (max-width: 760px) {
  .footer {
    font-size: 12px;
  }
}
/* @import "components/banner"; */
/* @import "components/footer"; */

/*# sourceMappingURL=style.css.map */
